<section class="filter-table">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input [formControl]="searchControl" id="search" matInput placeholder="Ex. ium">
  </mat-form-field>
  <div class="table-wrap">
    <table *ngIf="dataSource; else loader"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td [routerLink]="['/show-more-page', element.id]" mat-cell
            *matCellDef="let element">
          {{element[column]}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator  [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
    <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>

</section>

