.filter-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  table{
    max-width: 800px;
    width: 100%;
    tr{
      cursor: pointer;
      &:hover{
        background-color: lightpink;
        transition: .3s ease;
      }
    }
  }
}
