.filter-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .mat-paginator {
    max-width: 900px;
    width: 100%;
  }

  table {
    max-width: 900px;
    width: 100%;
    min-height: 300px;

    tr {
      &:not(.mat-header-row){
        cursor: pointer;
        &:hover {
          background-color: lightpink;
          transition: .3s ease;
        }
      }
      td.mat-cell{
        &:focus{
          outline: none;
          border: 1px solid transparent;
        }
      }
    }
  }
  .loader{
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
  }
}
