.example-card{
  width: 300px;
  background-color: #ffefd559;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1.5rem 1rem;
  border-radius: 10px;
  &__header{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__actions{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  img{
    width: 100px;
    height: 100px;
  }
}

//.example-card {
//  max-width: 400px;
//}
//
