.full-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:whitesmoke;
  text-transform: capitalize;
  .mat-list{
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff0d;
    &-item{
      color: whitesmoke;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
  }
}


