<mat-card class="example-card">
  <mat-card-header class="example-card__header">
    <mat-card-title>{{ city.city }}</mat-card-title>
    <mat-card-subtitle>{{ city.country }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="city.icon" alt="img"
  />
  <mat-card-content>
    <p>
      {{ city.temp }}
    </p>
  </mat-card-content>
  <mat-card-actions class="example-card__actions">
    <button

      [routerLink]="['show-more-page', city.city]"
      mat-raised-button color="primary"
    >
      More
    </button>
    <button
      (click)="emitDelete($event)"
      [id]="id"
      class="closer"
      mat-raised-button
      color="warn"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>
