<div class="cards-wrap">
  <section (keyup)="$event.keyCode == 13 ? getCityByName() : null">
    <h1>Ng Weather!</h1>
    <div *ngIf="localCities; else loading">
      <span>{{ localCities[0].city }}</span>
      <span style="margin:0 10px">{{ localCities[0].country }}</span>
      <span>{{ localCities[0].temp }}</span>
      <img [src]="localCities[0].icon" alt="img"/>
    </div>
    <ng-template #loading>
      <h2>Loading...</h2>
    </ng-template>
    <div class="search">
      <mat-form-field class="example-full-width" color="warn">
        <mat-label>Set the cityName</mat-label>
        <input [(ngModel)]="cityName"
               matInput
               placeholder="Enter the name of city..."
               type="text">
      </mat-form-field>
    </div>
    <div>
      <button (click)="getCityByName()" mat-button>Search!</button>
    </div>
  </section>
  <section class="cards">
    <app-card
      *ngFor="let city of cities;
              let idx = index"
      [city]="city"
      (change$)="changer($event)"
      [id]="idx"
    >
    </app-card>
  </section>
</div>
