<ng-template appRef></ng-template>
<section class="about">
  <div class="heading">
    <h1>About me</h1>
    <p>Hello! My name is
      <a href="https://www.linkedin.com/in/sergei-razumenko-a996a5173/" target="_blank">
        <b>Sergioramasano</b>
      </a>
      , I am an
      frontend
      web-engineer!</p>
    <p>I know <b>JS, Vue js, Angular, D3.js</b>, responsive markup and my level of <b>english</b> is <b>intermediate</b>.</p>
    <p>More code on my  <a href="https://github.com/Sergioramasano" target="_blank">
      <b>github</b>
    </a></p>
  </div>

  <a routerLink="/" color="warn" mat-button routerLinkActive="active">
    <span>Home</span>
    <mat-icon>account_balance</mat-icon>
  </a>
<!--<button (click)="showModal()">Show Modal</button>-->
</section>

