.about{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.82);
  h1{
    font-size: 32px;
    color: #555555;
  }
}
