.about{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #420505;
  .heading{
    text-align: center;
  }
  h1{
    font-size: 32px;
    color: #555555;
  }
}
