/* You can add global styles to this file, and also import other style files */
body{
  background: url("https://www.publicdomainpictures.net/pictures/290000/nahled/blue-sky-and-fine-thin-wispy-clouds.jpg") 100% 100% no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
