h1{
  text-align: center;
  color: white;
}
.chart-wrap{
  overflow: auto;
}
#to-users{
  color: wheat;
  margin: auto;
  display: block;
  max-width: 200px;
  text-align: center;
  &:hover{
    color: cadetblue;
    transition: 1s ease;
  }
}
